JPEG图片解码.png filter=lfs diff=lfs merge=lfs -text
业务启动-运行接口调用流程.png filter=lfs diff=lfs merge=lfs -text
单边通信库软件架构图.png filter=lfs diff=lfs merge=lfs -text
抠图-缩放-格式转换使用场景图.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-4.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系-3.png filter=lfs diff=lfs merge=lfs -text
TDE接口调用流程.png filter=lfs diff=lfs merge=lfs -text
初始化并运行ISP图像信号处理模块.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-2.png filter=lfs diff=lfs merge=lfs -text
推理精度问题.png filter=lfs diff=lfs merge=lfs -text
视频解码-缩放使用场景图.png filter=lfs diff=lfs merge=lfs -text
资源释放接口调用流程.png filter=lfs diff=lfs merge=lfs -text
HIFB接口调用流程.png filter=lfs diff=lfs merge=lfs -text
NVR音频场景说明.png filter=lfs diff=lfs merge=lfs -text
图像-视频数据处理.png filter=lfs diff=lfs merge=lfs -text
图片解码-缩放-格式转换使用场景图.png filter=lfs diff=lfs merge=lfs -text
抠图缩放流程.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-12.png filter=lfs diff=lfs merge=lfs -text
模型加载流程（通过接口中的配置参数区分加载方式）.png filter=lfs diff=lfs merge=lfs -text
缩放功能调用流程.png filter=lfs diff=lfs merge=lfs -text
image.png filter=lfs diff=lfs merge=lfs -text
基本的模型推理流程.png filter=lfs diff=lfs merge=lfs -text
模型执行的输入-输出数据结构的准备流程.png filter=lfs diff=lfs merge=lfs -text
逻辑架构图-2.png filter=lfs diff=lfs merge=lfs -text
PNGD图片解码功能调用流程.png filter=lfs diff=lfs merge=lfs -text
op_statistic_-csv文件示例.png filter=lfs diff=lfs merge=lfs -text
总体接口调用流程.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-3.png filter=lfs diff=lfs merge=lfs -text
接口调用流程图.png filter=lfs diff=lfs merge=lfs -text
查看json文件.png filter=lfs diff=lfs merge=lfs -text
音频播放功能.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系.png filter=lfs diff=lfs merge=lfs -text
zh-cn_image_0000001265081974.png filter=lfs diff=lfs merge=lfs -text
zh-cn_image_0000001594647953.png filter=lfs diff=lfs merge=lfs -text
释放ISP图像信号处理模块资源.png filter=lfs diff=lfs merge=lfs -text
VDEC解码输出的组合场景.png filter=lfs diff=lfs merge=lfs -text
JPEGD图片解码功能调用流程.png filter=lfs diff=lfs merge=lfs -text
VDEC视频解码功能调用的流程.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-14.png filter=lfs diff=lfs merge=lfs -text
接口调用流程.png filter=lfs diff=lfs merge=lfs -text
获取RAW数据.png filter=lfs diff=lfs merge=lfs -text
集合通信库软件架构图.png filter=lfs diff=lfs merge=lfs -text
allreduce.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系-4.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系-5.png filter=lfs diff=lfs merge=lfs -text
zh-cn_image_0000002543186933.png filter=lfs diff=lfs merge=lfs -text
初始化VI视频输入模块.png filter=lfs diff=lfs merge=lfs -text
录制声音并向IP-Camera发送语音.png filter=lfs diff=lfs merge=lfs -text
释放VI视频输入模块资源.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系-1.png filter=lfs diff=lfs merge=lfs -text
msprof_-json文件示例.png filter=lfs diff=lfs merge=lfs -text
Device-Context-Stream之间的关系-6.png filter=lfs diff=lfs merge=lfs -text
op_summary_-csv文件示例.png filter=lfs diff=lfs merge=lfs -text
Region区域管理功能.png filter=lfs diff=lfs merge=lfs -text
zh-cn_image_0000002588832164.png filter=lfs diff=lfs merge=lfs -text
同步等待流程Callback场景.png filter=lfs diff=lfs merge=lfs -text
视频编码流程.png filter=lfs diff=lfs merge=lfs -text
CJ220919103020546.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-13.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-16.png filter=lfs diff=lfs merge=lfs -text
查看csv文件.png filter=lfs diff=lfs merge=lfs -text
逻辑架构图-0.png filter=lfs diff=lfs merge=lfs -text
音频获取功能.png filter=lfs diff=lfs merge=lfs -text
VPSS调用流程.png filter=lfs diff=lfs merge=lfs -text
业务启动-运行接口调用流程-8.png filter=lfs diff=lfs merge=lfs -text
初始化MIPISENSOR硬件对接信息.png filter=lfs diff=lfs merge=lfs -text
模型加载流程（通过不同接口区分加载方式）.png filter=lfs diff=lfs merge=lfs -text
视频解码智能分析流程.png filter=lfs diff=lfs merge=lfs -text
视频解码流程.png filter=lfs diff=lfs merge=lfs -text
JPEG图片编码.png filter=lfs diff=lfs merge=lfs -text
VENC视频编码功能调用流程.png filter=lfs diff=lfs merge=lfs -text
单算子API调用流程.png filter=lfs diff=lfs merge=lfs -text
同步等待流程_多Device场景.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-11.png filter=lfs diff=lfs merge=lfs -text
逻辑架构图.png filter=lfs diff=lfs merge=lfs -text
PNG图片解码.png filter=lfs diff=lfs merge=lfs -text
接收IP-Camera发送的语音并播放声音.png filter=lfs diff=lfs merge=lfs -text
退出MIPI-SENSOR硬件.png filter=lfs diff=lfs merge=lfs -text
逻辑架构图-7.png filter=lfs diff=lfs merge=lfs -text
定位流程.png filter=lfs diff=lfs merge=lfs -text
获取YUV数据.png filter=lfs diff=lfs merge=lfs -text
VDEC解码输出的组合场景-10.png filter=lfs diff=lfs merge=lfs -text
JPEGE图片编码功能调用流程.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-15.png filter=lfs diff=lfs merge=lfs -text
接口调用流程-1.png filter=lfs diff=lfs merge=lfs -text
资源释放接口调用流程-9.png filter=lfs diff=lfs merge=lfs -text
aclmdlDataset类型与aclDataBuffer类型的关系.png filter=lfs diff=lfs merge=lfs -text
