JPEGD_API_call_process_V1.png filter=lfs diff=lfs merge=lfs -text
video_display_sevice_start_run.png filter=lfs diff=lfs merge=lfs -text
HIXL_arch.png filter=lfs diff=lfs merge=lfs -text
image_crop_resize_format_conversion.png filter=lfs diff=lfs merge=lfs -text
user_specified_raw_image.png filter=lfs diff=lfs merge=lfs -text
TDE_API_call_process.png filter=lfs diff=lfs merge=lfs -text
initializing_and_running_ISP.png filter=lfs diff=lfs merge=lfs -text
obtain_YUV_through_VI_wdr_mode.png filter=lfs diff=lfs merge=lfs -text
model_inference_precision_issues.png filter=lfs diff=lfs merge=lfs -text
video_decoding_resizing.png filter=lfs diff=lfs merge=lfs -text
video_display_resource_release.png filter=lfs diff=lfs merge=lfs -text
HIFB_API_call_process.png filter=lfs diff=lfs merge=lfs -text
NVR_audio.png filter=lfs diff=lfs merge=lfs -text
image_video_data_processing.png filter=lfs diff=lfs merge=lfs -text
image_decoding_resizing_format_conversion.png filter=lfs diff=lfs merge=lfs -text
crop_resize_process.png filter=lfs diff=lfs merge=lfs -text
model_load_set_param.png filter=lfs diff=lfs merge=lfs -text
resize_API_call_process.png filter=lfs diff=lfs merge=lfs -text
add_operator_execution_result.png filter=lfs diff=lfs merge=lfs -text
basic_model_inference_process.png filter=lfs diff=lfs merge=lfs -text
prepare_model_input_output.png filter=lfs diff=lfs merge=lfs -text
PNGD_API_call_process_V2.png filter=lfs diff=lfs merge=lfs -text
op_statistic_csv_file_example.png filter=lfs diff=lfs merge=lfs -text
video_data_obtaining_overall_process.png filter=lfs diff=lfs merge=lfs -text
obtain_RAW_through_VI.png filter=lfs diff=lfs merge=lfs -text
model_inference_API_call_process.png filter=lfs diff=lfs merge=lfs -text
view_json_file.png filter=lfs diff=lfs merge=lfs -text
play_audio.png filter=lfs diff=lfs merge=lfs -text
image_0000001265081974.png filter=lfs diff=lfs merge=lfs -text
image_0000001594647953.png filter=lfs diff=lfs merge=lfs -text
release_ISP_resource.png filter=lfs diff=lfs merge=lfs -text
VDEC_output_V1.png filter=lfs diff=lfs merge=lfs -text
JPEGD_API_call_process_V2.png filter=lfs diff=lfs merge=lfs -text
VDEC_API_call_process_V2.png filter=lfs diff=lfs merge=lfs -text
dynamic_AIPP_API_call_process.png filter=lfs diff=lfs merge=lfs -text
obtain_RAW_data.png filter=lfs diff=lfs merge=lfs -text
HCCL_arch.png filter=lfs diff=lfs merge=lfs -text
allreduce.png filter=lfs diff=lfs merge=lfs -text
initializing_VI.png filter=lfs diff=lfs merge=lfs -text
recording_audios_and_sending_audios_to_IPCamera.png filter=lfs diff=lfs merge=lfs -text
release_VI_resource.png filter=lfs diff=lfs merge=lfs -text
msprof_json_example.png filter=lfs diff=lfs merge=lfs -text
op_summary_csv_file_example.png filter=lfs diff=lfs merge=lfs -text
Region_API_call_process.png filter=lfs diff=lfs merge=lfs -text
asynchronous_model_inference_process.png filter=lfs diff=lfs merge=lfs -text
VENC_API_call_process_V1.png filter=lfs diff=lfs merge=lfs -text
DVPP_operators_API_call_process.png filter=lfs diff=lfs merge=lfs -text
view_csv_file.png filter=lfs diff=lfs merge=lfs -text
obtain_audio.png filter=lfs diff=lfs merge=lfs -text
VPSS_API_call_process.png filter=lfs diff=lfs merge=lfs -text
video_intelligent_analysis_sevice_start_run.png filter=lfs diff=lfs merge=lfs -text
initializing_MIPI_SENSOR_hardware_interconnection_info.png filter=lfs diff=lfs merge=lfs -text
model_load_different_APIs.png filter=lfs diff=lfs merge=lfs -text
video_intelligent_analysis_process.png filter=lfs diff=lfs merge=lfs -text
VDEC_API_call_process_V1.png filter=lfs diff=lfs merge=lfs -text
JPEGE_API_call_process_V1.png filter=lfs diff=lfs merge=lfs -text
VENC_API_call_process_V2.png filter=lfs diff=lfs merge=lfs -text
aclnn_API_call_process.png filter=lfs diff=lfs merge=lfs -text
dynamic_shape_API_call_process.png filter=lfs diff=lfs merge=lfs -text
PNGD_API_call_process_V1.png filter=lfs diff=lfs merge=lfs -text
receiving_audios_from_IPCamera.png filter=lfs diff=lfs merge=lfs -text
exiting_MIPI_SENSOR_hardware.png filter=lfs diff=lfs merge=lfs -text
operator_precision_issues_positioning_process.png filter=lfs diff=lfs merge=lfs -text
obtain_YUV_data.png filter=lfs diff=lfs merge=lfs -text
VDEC_output_V2.png filter=lfs diff=lfs merge=lfs -text
JPEGE_API_call_process_V2.png filter=lfs diff=lfs merge=lfs -text
obtain_YUV_through_VI_linear_mode.png filter=lfs diff=lfs merge=lfs -text
video_intelligent_analysis_resource_release.png filter=lfs diff=lfs merge=lfs -text
relationship_between_aclmdlDataset_and_aclDataBuffer.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
